<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism" />
  </configSections>
  <modules>
    <module assemblyFile="Modules/DemoCreatingRegions.ModuleA.dll" moduleType="DemoCreatingRegions.ModuleA.ModuleAModule, DemoCreatingRegions.ModuleA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DemoCreatingRegions.ModuleA" startupLoaded="true" />
  </modules>
</configuration>